name: WakaTime Statistics On Profile README

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: main

jobs:
  update:
    name: Update Statistics
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          BLOCKS: "=>"
          TIME_RANGE: "last_30_days"
          SHOW_TOTAL: true
          STOP_AT_OTHER: true
